NET "DOUT_CLK" IOSTANDARD = LVTTL;
NET "RST" IOSTANDARD = LVTTL;
NET "SPIIN_CLK" IOSTANDARD = LVTTL;
NET "SPIIN_CS" IOSTANDARD = LVTTL;
NET "SPIIN_DATA" IOSTANDARD = LVTTL;
NET "SPIOUT_CLK" IOSTANDARD = LVTTL;
NET "SPIOUT_CS" IOSTANDARD = LVTTL;
NET "SPIOUT_DATA" IOSTANDARD = LVTTL;
NET "TIME_CLK" IOSTANDARD = LVTTL;
NET "TIME_CLR" IOSTANDARD = LVTTL;
NET "RST" PULLUP;


NET "SPIIN_CLK" CLOCK_DEDICATED_ROUTE = FALSE;
NET "TIME_CLK" CLOCK_DEDICATED_ROUTE = FALSE;


NET "DOUT_CLK" LOC = P83;
NET "RST" LOC = P93;
NET "SPIIN_CLK" LOC = P77;
NET "SPIIN_CS" LOC = P90;
NET "SPIIN_DATA" LOC = P97;
NET "SPIOUT_CLK" LOC = P85;
NET "SPIOUT_CS" LOC = P98;
NET "SPIOUT_DATA" LOC = P99;
NET "TIME_CLK" LOC = P86;
NET "TIME_CLR" LOC = P89;
