//! **************************************************************************
// Written by: Map O.87xd on Sat Feb 18 20:34:01 2012
//! **************************************************************************

SCHEMATIC START;
COMP "TIME_CLK" LOCATE = SITE "P86" LEVEL 1;
PIN TIME_CLK_pin<0> = BEL "TIME_CLK" PINNAME PAD;
PIN "TIME_CLK_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "TIME_CLR" LOCATE = SITE "P89" LEVEL 1;
COMP "SPIIN_CS" LOCATE = SITE "P90" LEVEL 1;
COMP "RST" LOCATE = SITE "P93" LEVEL 1;
COMP "SPIIN_CLK" LOCATE = SITE "P77" LEVEL 1;
PIN SPIIN_CLK_pin<0> = BEL "SPIIN_CLK" PINNAME PAD;
PIN "SPIIN_CLK_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "SPIOUT_CS" LOCATE = SITE "P98" LEVEL 1;
COMP "SPIIN_DATA" LOCATE = SITE "P97" LEVEL 1;
COMP "SPIOUT_CLK" LOCATE = SITE "P85" LEVEL 1;
COMP "SPIOUT_DATA" LOCATE = SITE "P99" LEVEL 1;
COMP "DOUT_CLK" LOCATE = SITE "P83" LEVEL 1;
SCHEMATIC END;

